* {
    padding: 0;
    margin: 0;

}
html {
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
}
*,
*:after,
*:before {
    box-sizing: inherit;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    height: 100px;
    background-color: #E0F2D9;
}
.header__navbar {
    height: 100%;
}
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 100%;
}
.navbar__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 164px;
    height: 100px;
    background-color: #BEE4B0;
    cursor: pointer;
}
.navbar-item__link {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #767676;
    text-decoration: none;
}
.navbar-item__link:nth-child(1) {
    margin-right: 4px;
}
.item_green:nth-child(-n+3) {
    margin-left: 4px;
}
.select-lang {
    padding: 0 25px;
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #767676;
    border: none;
    background-color: #BEE4B0;
    cursor: pointer;
}
/*search-section*/
.search {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}
.search__input {
    margin-top: 25px;
    padding-left: 15px;
    height: 64px;
    max-width: available;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}
/*select language*/
.select-trans-lang {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    max-width: 416px;
}

.select-trans-lang__item {
    margin-top: 64px;
    padding: 0 15px;
    height: 54px;
    width: 147px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    background-color: #F5FBF3;
}
/*content*/
.content {
    display: flex;
    flex-direction: row;
    padding: 0 40px;
}
.content > div:nth-child(-n+3) {
    padding-top: 68px;
    margin-right: 40px;
}
.block-title {
    margin-left: 14px;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #B0B0B0
}
.content__translate {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: space-between;
}
.content-translate-container {
    display: flex;
    flex-direction: column;
}
.translate,
.transcription {
    padding: 0 15px;
    height: 55px;
    border: 1px solid #BEE4B0;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    background-color: #EBF6E6;
}
.translate-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button {
    height: 54px;
    width: 113px;
    border: none;
    border-radius: 8px;
    background: #BEE4B0;
}
.content__audio {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.audio {
    border: 1px solid #BEE4B0;
    border-radius: 25px;
}
.content__image {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}
.content-image__container {
    height: 280px;
    width: 442px;
    border: 1px solid #BEE4B0;
    border-radius: 8px;
    background-color: #EBF6E6;
}